{
  "Entries": [
    {
      "RequestUri": "/30da001a-1a9e-48a1-8b77-e5abcfe38bdc/services/rdsr8/collections/locations?api-version=2014-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-08-01"
        ]
      },
      "ResponseBody": "[\r\n  {\r\n    \"DisplayName\": \"West US\",\r\n    \"Name\": \"West US\"\r\n  },\r\n  {\r\n    \"DisplayName\": \"East US\",\r\n    \"Name\": \"East US\"\r\n  },\r\n  {\r\n    \"DisplayName\": \"East Asia\",\r\n    \"Name\": \"East Asia\"\r\n  },\r\n  {\r\n    \"DisplayName\": \"Southeast Asia\",\r\n    \"Name\": \"Southeast Asia\"\r\n  },\r\n  {\r\n    \"DisplayName\": \"North Europe\",\r\n    \"Name\": \"North Europe\"\r\n  },\r\n  {\r\n    \"DisplayName\": \"West Europe\",\r\n    \"Name\": \"West Europe\"\r\n  }\r\n]",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-servedbyregion": [
          "uswest"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/30da001a-1a9e-48a1-8b77-e5abcfe38bdc/services/rdsr8/templateImages?api-version=2014-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-08-01"
        ]
      },
      "ResponseBody": "[\r\n  {\r\n    \"Id\": \"9a920fd4-f697-4e98-9c48-671642c39888\",\r\n    \"Name\": \"asuploaded\",\r\n    \"NumberOfLinkedCollections\": 1,\r\n    \"OfficeType\": 0,\r\n    \"PathOnClient\": null,\r\n    \"RegionList\": [\r\n      \"West US\"\r\n    ],\r\n    \"Sas\": \"?sv=2012-02-12&sr=b&si=9a920fd4-f697-4e98-9c48-671642c39888&sig=s1Hf1e2aKJV76DTAoYsfdsuSop3A1OxJTD%2BHfzXIEnw%3D\",\r\n    \"SasExpiry\": \"2015-05-25T21:32:34.508Z\",\r\n    \"Size\": 42949673472,\r\n    \"Status\": 8,\r\n    \"TrialOnly\": false,\r\n    \"Type\": 0,\r\n    \"UploadCompleteTime\": \"2015-05-22T21:59:16.541Z\",\r\n    \"UploadSetupTime\": \"2015-05-22T21:32:34.714Z\",\r\n    \"UploadStartTime\": \"2015-05-22T21:58:06.791Z\",\r\n    \"Uri\": \"https://cdvwu215454498rdcm.blob.core.windows.net/goldimages/9a920fd4-f697-4e98-9c48-671642c39888.vhd\"\r\n  },\r\n  {\r\n    \"Id\": \"d650edb6-718c-4e62-9fd7-fa244ad23230\",\r\n    \"Name\": \"uitestimported\",\r\n    \"NumberOfLinkedCollections\": 0,\r\n    \"OfficeType\": 0,\r\n    \"PathOnClient\": null,\r\n    \"RegionList\": [\r\n      \"West US\"\r\n    ],\r\n    \"Sas\": null,\r\n    \"SasExpiry\": \"1900-01-01T00:00:00Z\",\r\n    \"Size\": 136367309312,\r\n    \"Status\": 8,\r\n    \[...]
    {
      "RequestUri": "/30da001a-1a9e-48a1-8b77-e5abcfe38bdc/services/rdsr8/BillingPlans?api-version=2014-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-08-01"
        ]
      },
      "ResponseBody": "[\r\n  {\r\n    \"AddOns\": \"\",\r\n    \"CoresPerUser\": 0.25,\r\n    \"MinimumBilledUserCount\": 20,\r\n    \"PlanId\": \"19d0f014-6ead-4a5c-bd2b-ee5ae6c7f5c2\",\r\n    \"PlanName\": \"Standard\"\r\n  },\r\n  {\r\n    \"AddOns\": \"\",\r\n    \"CoresPerUser\": 0.25,\r\n    \"MinimumBilledUserCount\": 20,\r\n    \"PlanId\": \"493d3553-a732-4764-b18c-a239982fdbec\",\r\n    \"PlanName\": \"Basic\"\r\n  }\r\n]",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-servedbyregion": [
          "uswest"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/30da001a-1a9e-48a1-8b77-e5abcfe38bdc/services?service=rdsr8&action=register",
      "RequestMethod": "PUT",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-10-01"
        ]
      },
      "ResponseBody": "<Error xmlns=\"http://schemas.microsoft.com/windowsazure\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\r\n  <Code>ConflictError</Code>\r\n  <Message>The resource type rdsr8 is already registered for this subscription.</Message>\r\n</Error>",
      "ResponseHeaders": {
        "Content-Type": [
          "application/xml; charset=utf-8"
        ],
        "x-ms-servedbyregion": [
          "uswest"
        ]
      },
      "StatusCode": 409
    },
    {
      "RequestUri": "/30da001a-1a9e-48a1-8b77-e5abcfe38bdc/services/rdsr8/collections?PopulateOnly=false&api-version=2014-09-01",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"Name\": \"CICollection\",\r\n  \"Description\": \"Test Collection\",\r\n  \"TemplateImageName\": \"Windows Server RDSHwO13P on Windows Server 2012 R2\",\r\n  \"BillingPlanName\": \"Standard\",\r\n  \"ReadyForPublishing\": false,\r\n  \"Mode\": 1,\r\n  \"Region\": \"West US\",\r\n  \"PublishedApplications\": [],\r\n  \"AllowedPrincipals\": []\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-version": [
          "2014-08-01"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "uswest"
        ],
        "x-clouddv-tracking-id": [
          "6cff10e3-d706-4f4f-9cc1-edf97fe9c9d9"
        ],
        "x-remoteapp-operation-tracking-id": [
          "6cff10e3-d706-4f4f-9cc1-edf97fe9c9d9"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/30da001a-1a9e-48a1-8b77-e5abcfe38bdc/services/rdsr8/operationResults/6cff10e3-d706-4f4f-9cc1-edf97fe9c9d9?api-version=2014-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-08-01"
        ]
      },
      "ResponseBody": "{\r\n  \"Description\": \"CreateFreshDeployment_Domain\",\r\n  \"ErrorDetails\": null,\r\n  \"Status\": \"InProgress\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-servedbyregion": [
          "uswest"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/30da001a-1a9e-48a1-8b77-e5abcfe38bdc/services/rdsr8/collections/CICollection/startMenuApps?api-version=2014-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-08-01"
        ]
      },
      "ResponseBody": "[\r\n  {\r\n    \"CommandLineArguments\": \"\",\r\n    \"IconPngUris\": [\r\n      {\r\n        \"Key\": 32,\r\n        \"Value\": \"https://cdvwu215454498rdcm.blob.core.windows.net/icons/271524e0-5ab0-42ea-8af4-ee3d82ad5fdf.png?sv=2012-02-12&se=2015-06-08T00%3A38%3A20Z&sr=b&sp=r&sig=le3%2Fcw%2FGZAZ1EcREyVaZfudw1b1t8%2FHuqGn0jE00D8M%3D\"\r\n      }\r\n    ],\r\n    \"IconUri\": \"https://cdvwu215454498rdcm.blob.core.windows.net/icons/a2527b81-63e5-4e92-8f29-576f1706c0c6.ico?sv=2012-02-12&se=2015-06-08T00%3A38%3A20Z&sr=b&sp=r&sig=qNXD6SlNopl4pOJ%2FbuaspsPaq2nsXx%2FZ4w0uhU3vmRo%3D\",\r\n    \"Id\": \"1aaa2eb5-9120-44b6-aed2-cbc9048179f1\",\r\n    \"Name\": \"Visio\",\r\n    \"VirtualPath\": \"%SYSTEMDRIVE%\\\\Program Files\\\\Microsoft Office\\\\Office15\\\\VISIO.EXE\"\r\n  },\r\n  {\r\n    \"CommandLineArguments\": \"\",\r\n    \"IconPngUris\": [\r\n      {\r\n        \"Key\": 32,\r\n        \"Value\": \"https://cdvwu215454498rdcm.blob.core.windows.net/icons/e0c10d27-2cce-4250-82ff-5e59a9007264.png?sv=2012-02-12&se=2015-06-08T00%3A38%3A20Z&sr=b&sp=r&sig=R%2BDg5NKKTiSAjfNxu9TIQL6BYcCMjH4pmv2Jy%2F4Tr3s%3D\"\r\n      }\r\n    ],\r\n    \"IconUri\": \"https://cdvwu215454498rdcm.blob.[...]
    {
      "RequestUri": "/30da001a-1a9e-48a1-8b77-e5abcfe38bdc/services/rdsr8/collections/CICollection/applications?api-version=2014-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-08-01"
        ]
      },
      "ResponseBody": "[\r\n  {\r\n    \"Alias\": \"27513e13-45e2-43f6-a055-bf1b6950eefb\",\r\n    \"AvailableToUsers\": true,\r\n    \"CommandLineArguments\": \"\",\r\n    \"IconPngUris\": [\r\n      {\r\n        \"Key\": 32,\r\n        \"Value\": \"https://cdvred8rdcx.blob.core.windows.net/icons/2efdb4b2-da66-4f78-b735-5d9197631001.png?se=2015-06-08T00%3A38%3A22Z&sr=b&sp=r&sig=3ufRVESGyVVb9INTAAe6E4yJ66iVWRr1sRoNckXYJ5Q%3D\"\r\n      }\r\n    ],\r\n    \"IconUri\": \"https://cdvred8rdcx.blob.core.windows.net/icons/ad79dc86-e259-465f-91f7-67937e2855d9.ico?se=2015-06-08T00%3A38%3A22Z&sr=b&sp=r&sig=ErgC0%2FAIyZETuOBVO8QeOHDnFogmgVdwmTo672eKZO4%3D\",\r\n    \"Name\": \"Paint\",\r\n    \"Status\": 1,\r\n    \"VirtualPath\": \"%SYSTEMDRIVE%\\\\Windows\\\\System32\\\\mspaint.exe\"\r\n  }\r\n]",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-servedbyregion": [
          "uswest"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/30da001a-1a9e-48a1-8b77-e5abcfe38bdc/services/rdsr8/collections/CICollection/startMenuApps/223bc699-4675-496f-b092-de135b4012cc?api-version=2014-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-08-01"
        ]
      },
      "ResponseBody": "{\r\n  \"CommandLineArguments\": \"\",\r\n  \"IconPngUris\": [\r\n    {\r\n      \"Key\": 32,\r\n      \"Value\": \"https://cdvwu215454498rdcm.blob.core.windows.net/icons/5818e5b6-54c8-45d6-847b-5459a3ef27dc.png?sv=2012-02-12&se=2015-06-08T00%3A38%3A24Z&sr=b&sp=r&sig=IsOL%2BhgR5yDzYklD9YtSNLOT3hz8eskc%2BP0WrdNOyXY%3D\"\r\n    }\r\n  ],\r\n  \"IconUri\": \"https://cdvwu215454498rdcm.blob.core.windows.net/icons/f127b112-b940-4187-98c0-80155e62b799.ico?sv=2012-02-12&se=2015-06-08T00%3A38%3A24Z&sr=b&sp=r&sig=KV1plKp6DvTnnIwsK%2Bk2EQ75kji4%2FyzDqopAA8LnCqU%3D\",\r\n  \"Id\": \"223bc699-4675-496f-b092-de135b4012cc\",\r\n  \"Name\": \"Access\",\r\n  \"VirtualPath\": \"%SYSTEMDRIVE%\\\\Program Files\\\\Microsoft Office\\\\Office15\\\\MSACCESS.EXE\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-servedbyregion": [
          "uswest"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/30da001a-1a9e-48a1-8b77-e5abcfe38bdc/services/rdsr8/collections/CICollection/applications?api-version=2014-09-01",
      "RequestMethod": "POST",
      "RequestBody": "[\r\n  {\r\n    \"AvailableToUsers\": true,\r\n    \"Alias\": \"\",\r\n    \"IconUri\": \"https://cdvwu215454498rdcm.blob.core.windows.net/icons/f127b112-b940-4187-98c0-80155e62b799.ico?sv=2012-02-12&se=2015-06-08T00%3A38%3A24Z&sr=b&sp=r&sig=KV1plKp6DvTnnIwsK%2Bk2EQ75kji4%2FyzDqopAA8LnCqU%3D\",\r\n    \"Name\": \"Access\",\r\n    \"Status\": 0,\r\n    \"IconPngUris\": {\r\n      \"IconPngUris\": [\r\n        {\r\n          \"Key\": \"32\",\r\n          \"Value\": \"https://cdvwu215454498rdcm.blob.core.windows.net/icons/5818e5b6-54c8-45d6-847b-5459a3ef27dc.png?sv=2012-02-12&se=2015-06-08T00%3A38%3A24Z&sr=b&sp=r&sig=IsOL%2BhgR5yDzYklD9YtSNLOT3hz8eskc%2BP0WrdNOyXY%3D\"\r\n        }\r\n      ]\r\n    },\r\n    \"VirtualPath\": \"%SYSTEMDRIVE%\\\\Program Files\\\\Microsoft Office\\\\Office15\\\\MSACCESS.EXE\"\r\n  }\r\n]",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-version": [
          "2014-08-01"
        ]
      },
      "ResponseBody": "[\r\n  {\r\n    \"ApplicationAlias\": \"f01fc126-a7f6-4802-b192-1c9858eec043\",\r\n    \"ApplicationVirtualPath\": \"%SYSTEMDRIVE%\\\\Program Files\\\\Microsoft Office\\\\Office15\\\\MSACCESS.EXE\",\r\n    \"ErrorMessage\": null,\r\n    \"Success\": true\r\n  }\r\n]",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-servedbyregion": [
          "uswest"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/30da001a-1a9e-48a1-8b77-e5abcfe38bdc/services/rdsr8/collections/CICollection/securityPrincipals?api-version=2014-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-08-01"
        ]
      },
      "ResponseBody": "[]",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-servedbyregion": [
          "uswest"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/30da001a-1a9e-48a1-8b77-e5abcfe38bdc/services/rdsr8/collections/CICollection/securityPrincipals?api-version=2014-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-08-01"
        ]
      },
      "ResponseBody": "[\r\n  {\r\n    \"Status\": 1,\r\n    \"User\": {\r\n      \"AadObjectId\": \"\",\r\n      \"Description\": \"\",\r\n      \"Name\": \"auxtm259@live.com\",\r\n      \"SecurityPrincipalType\": 0,\r\n      \"UserIdType\": 1\r\n    }\r\n  },\r\n  {\r\n    \"Status\": 1,\r\n    \"User\": {\r\n      \"AadObjectId\": \"\",\r\n      \"Description\": \"\",\r\n      \"Name\": \"auxtm260@live.com\",\r\n      \"SecurityPrincipalType\": 0,\r\n      \"UserIdType\": 1\r\n    }\r\n  },\r\n  {\r\n    \"Status\": 1,\r\n    \"User\": {\r\n      \"AadObjectId\": \"\",\r\n      \"Description\": \"\",\r\n      \"Name\": \"auxtm261@live.com\",\r\n      \"SecurityPrincipalType\": 0,\r\n      \"UserIdType\": 1\r\n    }\r\n  }\r\n]",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-servedbyregion": [
          "uswest"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/30da001a-1a9e-48a1-8b77-e5abcfe38bdc/services/rdsr8/collections/CICollection/securityPrincipals?api-version=2014-09-01",
      "RequestMethod": "POST",
      "RequestBody": "[\r\n  {\r\n    \"SecurityPrincipalType\": 0,\r\n    \"UserIdType\": 1,\r\n    \"Name\": \"auxtm259@live.com\"\r\n  }\r\n]",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-version": [
          "2014-08-01"
        ]
      },
      "ResponseBody": "{\r\n  \"FailedSecurityPrincipals\": []\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-servedbyregion": [
          "uswest"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/30da001a-1a9e-48a1-8b77-e5abcfe38bdc/services/rdsr8/collections/CICollection?api-version=2014-09-01",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-08-01"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-servedbyregion": [
          "uswest"
        ],
        "x-clouddv-tracking-id": [
          "2c8a0267-18bc-4e77-9a32-ed1bcb90ad7b"
        ],
        "x-remoteapp-operation-tracking-id": [
          "2c8a0267-18bc-4e77-9a32-ed1bcb90ad7b"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/30da001a-1a9e-48a1-8b77-e5abcfe38bdc/services/rdsr8/operationResults/2c8a0267-18bc-4e77-9a32-ed1bcb90ad7b?api-version=2014-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-08-01"
        ]
      },
      "ResponseBody": "{\r\n  \"Description\": \"DeleteExistingDeployment\",\r\n  \"ErrorDetails\": null,\r\n  \"Status\": \"Success\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-servedbyregion": [
          "uswest"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "30da001a-1a9e-48a1-8b77-e5abcfe38bdc"
  }
}